<template>
    <div class="">
        <v-tailwind-modal :textConfirm="!isUpdate ? 'Save' : 'Update'" v-model="show"
            @confirm="!isUpdate ? save() : update()" @cancel="cancel">
            <template v-slot:title>{{ !isUpdate ? 'Add New Animal' : 'Update Animal' }}</template>
            <div class="flex items-center justify-center p-12">
                <div class="mx-auto w-full max-w-[550px]">
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="laporanBug" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Name
                                </label>
                                <input v-model="form.name" type="text" name="first-name" id="first-name"
                                    autocomplete="given-name"
                                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="laporanBug" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Species
                                </label>
                                <input v-model="form.species" type="text"
                                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                            </div>
                        </div>
                        <div class="w-full px-3">
                            <div class="mb-5">
                                <label class="mb-3 block text-base font-medium text-[#07074D]">Habitat</label>
                                <div class="mt-1 flex items-center gap-3">
                                    <input v-model="form.habitat" type="text"
                                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="w-full px-3">
                            <div class="mb-5 ">
                                <label for="laporanBug" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Has Four Legs?
                                </label>
                                <input v-model="form.has_four_legs" type="radio"
                                    class="form-radio" id="yes" :value=1 />
                                    <label for="yes" class="mr-3">Yes</label>
                                <input v-model="form.has_four_legs" type="radio"
                                    class="form-radio" id="no" :value=0 />
                                    <label for="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </v-tailwind-modal>
        <div class="bg-gray-100  min-h-screen p-8 w-full">
            <div class="flex items-center justify-between pb-6">
                <div class="flex items-center">
                    <div class="space-x-8">
                        <button @click="show = true"
                            class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">
                            Add Animal
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Name
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Species
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Habitat
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Have 4 Legs
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(animal,index) in animals" :key="index">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{animal.name}}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ animal.species }}</p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ animal.habitat }}</p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <span
                                            class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                            <span aria-hidden
                                                class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                            <span class="relative">{{ animal.has_four_legs == 1 ? 'Yes' : 'No' }}</span>
                                        </span>
                                    </td>
                                    <td class="p-5 border-b border-gray-200 bg-white text-sm">
                                        <span
                                            class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                            <button @click="edit(animal)"
                                                class="px-4 py-2 bg-green-500 outline-none rounded text-white shadow-green-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-green-600 focus:bg-green-600 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200">Edit</button>
                                            <button @click="deleteAnimal(animal)"
                                                class="px-4 py-2 bg-red-500 outline-none rounded text-white shadow-red-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-red-600 focus:bg-red-600 focus:ring-2 focus:ring-red-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200">Delete</button>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    layout: 'guest',
    data() {
        return {
            show: false,
            isUpdate:false,
            form: {
                id: null,
                name: null,
                species: null,
                habitat: null,
                has_four_legs: null
            },
            animals:[]
        }
    },
    created(){
        this.getData()
    },  
    methods:{
        getData(){
            this.$axios.get('animal')
            .then((res) => this.animals = res.data.data)
            .catch((err) => console.log(err.response.data))
        },
        save(){
            this.$axios.post('animal',this.form)
            .then((res) => {
                this.show = false;
                this.resetForm(),
                this.getData()
            })
            .catch((err) => console.log(err.response));
        },
        edit(data){
            this.show = true;
            this.isUpdate = true;
            this.form.id = data.id;
            this.form.name = data.name;
            this.form.species = data.species;
            this.form.habitat = data.habitat;
            this.form.has_four_legs = data.has_four_legs;
        },  
        update(){
            this.$axios.put('animal/'+this.form.id,this.form)
            .then((res) => {
                this.show = false;
                this.resetForm(),
                this.getData()
            })
            .catch((err) => console.log(err.response));
        },
        deleteAnimal(data){
            this.$axios.delete('animal/'+data.id)
            .then((res) => {
                this.resetForm(),
                this.getData()
            })
            .catch((err) => console.log(err.response));
        },
        cancel(close) {
            close();
            this.resetForm();
        },
        resetForm(){
            this.form.id = null;
            this.form.name = null;
            this.form.species = null;
            this.form.habitat = null;
            this.form.has_four_legs = null;
        }
    }
};
</script>

<style>

</style>
